In [1]:
# August 20, 2025

print(42)

42

In [2]:
def c_to_f(degrees_c):
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [3]:
c_to_f(100)

212.0

In [4]:
c_to_f(4.0)

39.2

In [8]:
def divide(dividend, divisor):
    result = dividend / divisor
    return int(result)

In [9]:
divide(0, 2) # 0 / 2

0

In [ ]:
divide(2, 0) # 2 / 0

ZeroDivisionError: division by zero

In [10]:
def calc_sales_tax(price, tax_rate=0.13):
    tax_amount = price * tax_rate
    return tax_amount

In [11]:
calc_sales_tax(5)

0.65

In [12]:
5 * 0.13

0.65

In [ ]:
calc_sales_tax(5, 0.08)

0.4

In [14]:
5 * 0.08

0.4

In [19]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax_amount = price * tax_rate
    tip_amount = price * tip_rate
    total_bill = price + tax_amount + tip_amount
    return total_bill

In [20]:
calc_total_bill(100)

128.0

In [21]:
100 + 100 * 0.13 + 100 * 0.15

128.0

In [22]:
calc_total_bill(100, 0.20)

135.0

In [23]:
100 + 100 * 0.20 + 100 * 0.15

135.0

In [ ]:
calc_total_bill(100, tip_rate=0.20)

133.0

In [25]:
100 + 100 * 0.13 + 100 * 0.20

133.0

In [27]:
def calc_total_bill_2(price, tax_rate, tip_rate):
    tax_amount = price * tax_rate
    tip_amount = price * tip_rate
    total_bill = price + tax_amount + tip_amount
    return total_bill

In [28]:
calc_total_bill_2(100)

TypeError: calc_total_bill_2() missing 2 required positional arguments: 'tax_rate' and 'tip_rate'

In [29]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [30]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [31]:
def c_to_f(degrees_c):
    """Convert degrees from Celsius to Fahrenheit"""
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [32]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Convert degrees from Celsius to Fahrenheit

In [33]:
degrees_c

NameError: name 'degrees_c' is not defined

In [34]:
kaylie = 'loves python'

In [35]:
kaylie

'loves python'

In [36]:
'This is a string'

'This is a string'

In [37]:
"This is also a string"

'This is also a string'

In [38]:
'This does not work"

SyntaxError: unterminated string literal (detected at line 1) (3110063236.py, line 1)

In [39]:
'Let's see if this works'

SyntaxError: unterminated string literal (detected at line 1) (3205553238.py, line 1)

In [40]:
"Let's see if this works"

"Let's see if this works"

In [41]:
'''
I am a multiline string

This is handy for long texts
'''

'\nI am a multiline string\n\nThis is handy for long texts\n'

### Escape sequences

| Escape sequence | Description        |
|-----------------|--------------------|
| \\'             | Single quote       |
| \\"             | Double quote       |
| \\\\            | Backslash          |
| \\t             | Tab                |
| \\n             | Newline            |
| \\r             | Carriage return    |

In [42]:
print('This is a backslash: \\')

This is a backslash: \

In [46]:
print('This is a double-quote string with a quote inside: "example"')

This is a double-quote string with a quote inside: "example"

In [44]:
print("This is a double-quote string with a quote inside: \"example\"")

This is a double-quote string with a quote inside: "example"

In [51]:
print("This is a single-quoted string with a quote inside: won't")

This is a single-quoted string with a quote inside: won't

In [49]:
print('This is a single-quoted string with a quote inside: won\'t')

This is a single-quoted string with a quote inside: won't

In [52]:
print('This is an example of \ra return carriage')

a return carriagee of

In [53]:
print('XXXXX\raa')

aaXXX

In [ ]:
'aaXXX'

In [54]:
print('12345\r67')

67345

In [ ]:
'67345'

In [55]:
3 + 3

6

In [56]:
3 * 3

9

In [57]:
'hello' + ' ' + 'world'

'hello world'

In [58]:
'ha' * 3

'hahaha'

In [60]:
'The year is ' + 2025

TypeError: can only concatenate str (not "int") to str

In [61]:
'apple' == 'Apple'

False

In [62]:
'apple' != 'Apple'

True

In [63]:
'20' == 20

False

In [64]:
first_name = 'Ada'
last_name = 'Lovelace'

In [68]:
first_name[0]

'A'

In [69]:
last_name[0]

'L'

In [70]:
first_name[0:2]

'Ad'

In [71]:
last_name[0:3]

'Lov'

In [73]:
last_name[4:8]

'lace'

In [74]:
last_name[4:]

'lace'

In [75]:
last_name[:4]

'Love'

In [81]:
first_name[0]

'A'

In [82]:
first_name[2]

'a'

In [84]:
first_name[::2]

'Aa'

In [86]:
last_name[1:7:2]

'oea'

In [ ]:
last_name[0:6:3] # start at index 1 to index 5, moving 3 at a time

'Le'

In [89]:
phone_number = '+1 555-123-4567'

phone_number[3:6]

'555'

In [92]:
phone_number[1:10]

'1 555-123'

In [91]:
phone_number[1:10:2]

'15513'

In [94]:
job_qualifications = 'The successful applicant will be proficient in R, Python, SQL, statistics'

In [95]:
'R' in job_qualifications

True

In [96]:
' r ' in job_qualifications

False

In [97]:
'JavaScript' in job_qualifications

False

In [98]:
print(1, 'fish', 2, 'fish')

1 fish 2 fish

In [99]:
len('Sometimes we have a lonnnnggg piece of text')

43

In [100]:
sorted('banana')

['a', 'a', 'a', 'b', 'n', 'n']

In [101]:
sorted('kaylie')

['a', 'e', 'i', 'k', 'l', 'y']

In [102]:
'I am not yelling'.upper()

'I AM NOT YELLING'

In [103]:
'This string is unusual'.count('e')

0

In [104]:
'file_name.csv'.endswith('.csv')

True

In [105]:
'long file name with spaces.csv'.replace(' ', '_')

'long_file_name_with_spaces.csv'

In [106]:
first_name

'Ada'

In [107]:
last_name

'Lovelace'

In [108]:
'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [112]:
'My favourite veggie is {}'.format('lettuce')

'My favourite veggie is lettuce'

In [113]:
f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}.'

"Ada Lovelace's initials are A. L."

In [115]:
f"My favourite veggie is {'lettuce'}"

'My favourite veggie is lettuce'

In [ ]:
veggie = 'tomato'
f'My favourite veggie is {veggie}'

'My favourite veggie is tomato'

In [118]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [ ]:
# int()
# if float -> truncate the decimal part
# if string representing a valid integer -> convert the string to an integer
# if string representing a float -> return error

In [119]:
int(12.25)

12

In [120]:
int('2')

2

In [121]:
int('2.2222')

ValueError: invalid literal for int() with base 10: '2.2222'

In [122]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [ ]:
# float()
# if int -> convert to a floating-point number
# if string representing a valid float -> convert the string to a float

In [124]:
float(892)

892.0

In [127]:
float('122.222')

122.222

In [123]:
float('892')

892.0

In [125]:
float('me')

ValueError: could not convert string to float: 'me'

In [ ]:
str(37.5) #float to string

'37.5'

In [ ]:
str(29) #int to string

'29'

In [ ]:
# input() function prompt the user and return their response as a string

In [130]:
age = input("How old are you? ")

In [131]:
age

'10000000'

In [132]:
fruit = input("What is your favourite fruit? ")

In [133]:
fruit

'kiwi'

In [134]:
age_next_year = int(age) + 1
age_next_year

10000001

In [135]:
age = input("How old are you? ")

In [136]:
age

'cat'

In [137]:
age_next_year = int(age) + 1
age_next_year

ValueError: invalid literal for int() with base 10: 'cat'

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [138]:
# not:
# negate the truth value of the statement

not True

False

In [139]:
not False

True

In [ ]:
3 == 3

True

In [141]:
not (3 == 3)

False

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [142]:
7 == 7

True

In [143]:
32 > 9

True

In [144]:
7 == 7 and 32 > 9 # True and True

True

In [ ]:
# and: check if the statements on both sides are true

In [146]:
'Python' == 'python'

False

In [ ]:
'Python' == 'python' and True # False and True

False

In [149]:
is_summer = True
is_sunny = True
is_summer and is_sunny # True and True

True

In [150]:
45 != 90

True

In [151]:
20 > 5

True

In [152]:
45 != 90 and 20 > 5 # True and True

True

# To avoid confusion and to make sure you have consistent behaviour, you should always use boolean values (True and False) explicitly when working with logical operators.

In [ ]:
# and operator returns the first falsy value encountered or the last truthy value if all 
# operands are true

is_winter = "True" # non-empty string so it is considered a True (bool)
is_cloudy = True # True (bool))

is_winter and is_cloudy

True

In [154]:
is_cloudy and is_winter

'True'

In [ ]:
my_pet = 'dog' # non-empty string so it is considered True (bool)
xindi_pet = 'cat' # non-empty string so it is considered True (bool)

# 'dog' and 'cat'
my_pet and xindi_pet

'cat'

In [156]:
xindi_pet and my_pet

'dog'

In [ ]:
day_of_week = 'Wednesday' # non-empty string so it is considered True (bool)
month = '' # empty string so it is considered False (bool)

# '' and 'Wednesday'
month and day_of_week

''

In [159]:
False and True

False

In [158]:
season = 'summer' # non-empty string so it is considered True (bool)
time_of_year = 0 # 0 so it is considered False (bool)

season and 0

0