In [ ]:
# August 26, 2025

list = [1, 'dog', True]

In [ ]:
list

In [ ]:
list[1]

In [ ]:
list[:2]

In [ ]:
list_copy = list

In [ ]:
list_copy

In [ ]:
list[1] = 'cat'

In [ ]:
list

In [ ]:
list_copy

In [ ]:
perfect_squares = [1, 4, 9, 16]

len(perfect_squares)

In [ ]:
max(perfect_squares)

In [ ]:
sum(perfect_squares)

In [ ]:
'dog' + 'cat'

In [ ]:
['a', 'b', 'c'] + [1, 2, 3]

In [ ]:
'ha' * 2

In [ ]:
['a', 'b', 'c'] * 2

In [ ]:
perfect_squares

In [ ]:
perfect_squares * 2

In [ ]:
perfect_squares

In [ ]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']
rainbow

In [ ]:
# append() is used to add a single element to the end of a list
rainbow.append('purple')
rainbow

In [ ]:
rainbow.append(['purple'])
rainbow

In [ ]:
# extend() is used to add elements from an iterable (e.g., lists, tuples, sets, etc.) to the end of a list

rainbow.extend(['magenta', 'pink'])
rainbow

In [ ]:
rainbow.extend('pale pink')
rainbow

In [ ]:
# these will not run 
rainbow.extend(2.3)
rainbow.extend(3)

In [ ]:
rainbow = rainbow.append('dark purple')

In [2]:
print(new_rainbow)

NameError: name 'new_rainbow' is not defined

In [ ]:
rainbow

In [ ]:
# list methods that only mutate a list return None, or no data

In [1]:
rainbow.remove('p')

NameError: name 'rainbow' is not defined

In [ ]:
rainbow

In [ ]:
rainbow.insert(6, 'indigo')

In [ ]:
rainbow

In [ ]:
del rainbow[-13:]

In [ ]:
rainbow

In [ ]:
rainbow.clear()

In [ ]:
rainbow

In [ ]:
# ordered: elements maintain a specific sequence, and this sequence is preserved

fruits = ['pineapple', 'apple', 'kiwi', 'banana']
fruits

In [ ]:
fruits[1]

In [ ]:
#sort() method: reorder a list's values in place and return None

fruits.sort()

In [ ]:
fruits

In [ ]:
#sorted() function: return a new list with sorted values, but the original list is as it was
veggies = ['potato', 'celery', 'cabbage', 'bell pepper', 'onion'] 

print(f"{sorted(veggies)} is sorted lsit,\n {veggies} is the original unsorted list")

In [ ]:
veggies = sorted (veggies)
veggies

In [ ]:
# numerical data types will be sorted in ascending order
# strings will be sorted alphabetically based on the Unicode value of each character
# 'A' (65), 'a' (97)

letters = ['B', 'c', 'a', 'A']
sorted(letters)

In [ ]:
letters

### Using .method () with key function

In [ ]:
students_per_class = [['Grade 9', 20], ['Grade 10', 17], ['Grade 11', 13]]
students_per_class

In [ ]:
students_per_class.sort()
students_per_class

In [ ]:
# second_element will return the item at index 1 of a list

def second_element(item):
    return item[1]

In [ ]:
students_per_class.sort(key = second_element) 

#sorting will be based on the result of applying the 'second_element' function to each element in the list

students_per_class

In [ ]:
veggies = ['potato', 'celery', 'cabbage', 'bell pepper', 'onion'] 
veggies.sort()

In [ ]:
veggies

In [ ]:
def last_letter(text):
    return text[-1]

In [ ]:
last_letter('bell_pepper')

In [ ]:
last_letter('cabbage')

In [ ]:
veggies.sort(key=last_letter)

# 1.  `last_letter` function is define, which returns back the last character of a string
# 2.  We will use this function as the key function for sorting
# 3. The `sort()` method is called on the `veggies` list
# 4. The `key` parameter is set to `last_letter`, which means the sorting will be based on the result of applying 
# the `last_letter` function to each element in `veggies`
# 5. during the sorting process, each element is passed to the `last_letter` function which extracts the last letter
# 6. The `sort()` method arranges the elements in acending order based on the last letter

In [ ]:
veggies

In [84]:
# tuples
# immutable, ordered

mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')
mutable_synonyms_2 = ('fluctuating', 'changeable', 'inconstant', 'variable')
print(f"The first tuple is {mutable_synonyms},\n and the second tuple is{mutable_synonyms_2}")

The first tuple is ('changeable', 'fluctuating', 'inconstant', 'variable'),
 and the second tuple is('fluctuating', 'changeable', 'inconstant', 'variable')

In [ ]:
mutable_synonyms.sort()

In [ ]:
mutable_synonyms_2
mutable_synonyms_2 = sorted(mutable_synonyms_2)  # <----- try comment out/uncommented here 

print(f"The first one is {mutable_synonyms},\n and the second one is{mutable_synonyms_2}")
# check if equal
mutable_synonyms == mutable_synonyms_2

In [ ]:
mutable_synonyms_2
mutable_synonyms_3 = tuple(sorted(mutable_synonyms_2))  # <----- try comment out/uncommented here 

print(f"The first one is {mutable_synonyms},\n and the **third** one is{mutable_synonyms_3}")
# check if equal
mutable_synonyms == mutable_synonyms_3

In [ ]:
mutable_synonyms_4 = list(mutable_synonyms_3)
mutable_synonyms_2 == mutable_synonyms_4

In [86]:
mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')
mutable_synonyms2 = mutable_synonyms + ('modifiable', 'shifting')

print(f"This is the original tuple{mutable_synonyms},\n and we try to concatenate {mutable_synonyms2} with ('modifiable', 'shifting')")

This is the original tuple('changeable', 'fluctuating', 'inconstant', 'variable'),
 and we try to concatenate ('changeable', 'fluctuating', 'inconstant', 'variable', 'modifiable', 'shifting') with ('modifiable', 'shifting')

In [ ]:
tu3 = (1, 'apple', 2, 'bananas', 3, 'watermelons')
type(tu3)

In [1]:
# sets
# mutable
# unordered and distinct

things = {'coat', 'lock', 'box', 'book', 'apple', 'hair', 'xylophone', 'lock', 'book'}

In [ ]:
things

In [ ]:
visitor_post_codes = ['M5R', 'M5V', 'M1M', 'M1M', 'M1T']
set(visitor_post_codes)

In [ ]:
output_1 = set()
output_2 = {}
output_3 = {'apple'}

print(f"output_1 has a data type of {type(output_1)}")
print(f"output_2 has a data type of {type(output_2)}")
print(f"output_3 has a data type of {type(output_3)}")

output_1 has a data type of <class 'set'>
output_2 has a data type of <class 'dict'>
output_3 has a data type of <class 'set'>

In [ ]:
things

In [ ]:
things.add('lock')

In [ ]:
things

In [ ]:
things.add('mirror')

In [ ]:
things

In [ ]:
things.add('apple')

In [ ]:
things

In [ ]:
things[1]

In [ ]:
things.extend('cat')

In [ ]:
rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [ ]:
rainbow.difference(olympic_flag) # values in rainbow but not in olympic_flag

In [ ]:
olympic_flag.difference(rainbow) # values in olympic_flag but not in rainbow

In [ ]:
rainbow.symmetric_difference(olympic_flag) # values that are in only one of two sets

In [ ]:
rainbow.intersection(olympic_flag) # values that two sets have in common

In [ ]:
rainbow.union(olympic_flag) # combining two sets to get the unique values in both

### 4. Dictionary  
- key:value pairs  
- look up values via keys, every key in a dictionary is unique  
- keys can be any immutable data type, values can be any data type  
- mutable
- ordered

In [9]:
capitals = {'Canada':'Ottawa',
            'United States': 'Washington, D.C.',
            'Mexico': 'Mexico City'}

capitals

{'Canada': 'Ottawa',
 'United States': 'Washington, D.C.',
 'Mexico': 'Mexico City'}

In [10]:
olympics_cities = {2020: 'Tokyo',
                   2016: 'Rio de Janiero',
                   2012: 'London'}

olympics_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [29]:
all_olympics_hosts = {'summer': olympics_cities,
                      'winter': 
                      {2022: 'Beijing', 
                       2018: 'Pyeongchang'}}

all_olympics_hosts

{'summer': {2020: 'Tokyo',
  2016: 'Rio de Janiero',
  2012: 'London',
  2008: 'Barcelona'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [12]:
empty_dictionary = {} # conventional
type(empty_dictionary)

dict

In [13]:
olympics_cities[2016]

'Rio de Janiero'

In [14]:
all_olympics_hosts

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [19]:
all_olympics_hosts['winter'][2018]

'Pyeongchang'

In [20]:
olympics_cities[2014]

KeyError: 2014

In [21]:
olympics_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [22]:
all_olympics_hosts

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [23]:
# in operator checks for keys in a dictionary

In [25]:
2016 in olympics_cities

True

In [26]:
'Rio de Janiero' in olympics_cities

False

In [27]:
olympics_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [28]:
olympics_cities[2008] = 'Barcelona'

In [ ]:
olympics_cities

In [ ]:
olympics_cities[2008] = 'Beijing'

In [ ]:
olympics_cities

In [ ]:
all_olympics_hosts

In [ ]:
# mutable data type -> updating a dictionary means that all other
# variables that reference it will update

In [ ]:
food = {'breakfast': ['toast', 'eggs', 'yoghurt'],
        'lunch': ['soup', 'sandwich', 'eggs']}

In [ ]:
food

In [ ]:
food['breakfast']

In [ ]:
olympics_cities

In [ ]:
# item is a key:value pair

del olympics_cities[2020]

In [ ]:
olympics_cities

In [ ]:
all_olympics_hosts

In [ ]:
all_olympics_hosts.keys()

In [ ]:
olympics_cities

In [ ]:
olympics_cities.values()

In [ ]:
olympics_cities.items()

In [ ]:
# for loop

for vowel in ['a', 'e', 'i', 'o', 'u']:  # vowel = 'u'
    print(vowel)

In [ ]:
{0, 23, 4}

In [ ]:
for i in {0, 23, 4}: # i = 23
    print(i)

In [ ]:
for i in [1, 2, 3]: # i = 3
    print(i, i*3)

In [ ]:
input_files = ['data_01.csv', 'data_02.csv', 'data_03.csv']
output_files = []

for i in input_files: # i = 'data_03.csv'
    name = 'processed_' + i.replace('.csv', '.xlsx') # 'processed_data_03.xlsx'
    print(name)
    output_files.append(name)
    print(output_files)

In [ ]:
output_files

In [ ]:
countdown = 4

while countdown > 0: # countdown = 0
    print(countdown)
    countdown -= 1